@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #1d4ed8;
		--secondary: #22d3ee;

		--background: #ffffff;
		--background-light: #f8f8f8;
		--content: #f3f4f6;
		--foreground: #020617;
		--foreground-muted: #5b5d66;
		--border: #e5e7eb;
	}

	.dark {
		--background: #293547;
		--background-light: #2c384b;
		--content: #374151;
		--foreground: #f8fafc;
		--foreground-muted: #b4bbc5;
		--border: #374151;
	}
}

* {
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.slide-in {
	@apply animate-in fade-in slide-in-from-bottom-6 duration-500;
}

.scale-in {
	animation: scaleIn 400ms ease;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes spinUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes swipeLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes swipeRight {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
